h2 {
  margin: 4rem 0rem 2rem 0rem !important;
  border-bottom: solid 1px rgb(70, 150, 236);
}

h3 {
  margin: 3rem 0rem 1rem 0rem !important;
  padding: 0rem 0rem 0.5rem 0.5rem !important;
  border-left: solid 2px rgb(70, 150, 236);
}

.bg-danger {
  background-color: #ef486a!important;
}

.bg-success {
  background-color: #258a06!important;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: .75em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
